label {
	height: 1.5rem;
	padding: 0.2rem;
	flex: 8rem 1 6rem;
}

input {
	height: 1.5rem;
	padding: 0.25rem;
	border: $border-sm-dark-main-1;
	flex: 1 1 auto;

	&:focus {
		outline: none;
		box-shadow: $inset-shadow-sm;
	}
}

textarea {
	padding: 0.5rem;
	margin-top: 0.5rem;
	width: 100%;
	&:focus {
		outline: none;
		box-shadow: $inset-shadow-sm;
	}
}

.input-div {
	@include flex-row;
	justify-content: center;
	flex: 1 1 auto;
}

.input-div-textarea {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#datepicker {
	width: 4rem;
}
