$light-main-1: white;
$light-main-2: beige;
$dark-main-1: rgb(0, 0, 81);
$dark-main-2: cornflowerblue;
$primary-bg-color: darkolivegreen;

$inset-shadow-sm: inset 0 0 2px 2px $dark-main-1;
$shadow-m: 2px 4px 4px 2px $dark-main-1;

$animation-fast: 0.25s all;

$mini-card-width: clamp(330px, 100%, 500px);

$border-sm-dark-main-1: 2px solid $dark-main-1;
