#add-note-UI {
	width: $mini-card-width;
	background: url("../../public/assets/images/blue.jpg");
	padding: 0.5rem;
	border-radius: 4px;
}

.dateAndTagsDiv {
	@include flex-row;
	justify-content: flex-start;
}
