button {
	@include border-background;
	cursor: pointer;
	flex: auto 1 4rem;
	height: 1.5rem;
	transition: $animation-fast;

	&:hover {
		@include border-background-inverse;
		cursor: pointer;
		transition: $animation-fast;
	}
}
