.note-tags-component {
	@include flex-row;
	justify-content: flex-start;
	height: 2rem;
	gap: 1rem;
}

.tagsDiv {
	display: flex;
	gap: 0.5rem;
}

.tag {
	@include flex-row;
	min-width: 6rem;
	border: 1px solid $light-main-1;
	justify-content: space-between;
	padding: 0 4px;
}

.close {
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 50%;
	background-color: $light-main-1;
	color: $dark-main-1;
	border: 2px solid rgba($color: #000000, $alpha: 0);
	text-align: center;
	cursor: pointer;
	margin: 4px;
	position: relative;
	transition: $animation-fast;

	&:hover {
		@include border-background;
		transition: $animation-fast;
	}

	span {
		position: absolute;
		transform: translate(-50%);
		left: 50%;
		bottom: 0%;
	}
}
